[user]
	email = ""
	name = ""
	signingkey = ""
[init]
	defaultbranch = master
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[alias]
	cm = commit -S -s -v
  p = push --rebase --atomic
	lg = log --oneline --decorate --color
	df = diff --color --word-diff=color --ignore-all-space --minimal HEAD
	st = status
[diff]
	tool = nvimdiff
